/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #FFF;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #000;
  padding: 2px 4px;
}

a:visited {
  color: #666;
}

a:hover {
  color: #FFF;
  background-color: #39CCCC;
}

th {
  text-align: left;
  padding: 0 0 5px 0;
}

td {
  padding: 0 5px 7px;
}

#notice {
  color: #4CAF50;
}

#error-explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error-explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error-explanation ul {
  font-size: 12px;
  list-style: square;
}

#error-explanation li {
  font-size: 12px;
  list-style: square;
 }

label {
  display: block;

}

.field, .actions {
  margin: 0 0 10px 0
}

button {
  background-color: #39CCCC;
  border: none;
  color: white;
  padding: 8px 12px;
  margin: 5px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.btn {
  border: none;
  color: white;
  padding: 8px 12px;
  margin: 5px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.btn-primary {
  background-color: #ccc;
}

.action-bar {
  margin: 20px 0
}

input[type=submit] {
  background-color: #f0ad4e;
}

input[type=text] {
  width: 250px;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #eee;
}
